

        <div class="container ">
          <div class="p-3 mb-2 bg-info text-dark">
          <div class="row">
            <img class="img-thumbnail w-100" src="{{image}}" alt="Card image cap">
          </div>
          <div class="row">
            <br>
            <div class="card">
              
              <div class="card-body ">
                
                <p class="card-text">Name : {{clinician.fullName}}.</p>
                <p class="card-text">Specialization : {{clinician.specialization}}.</p>
                <p class="card-text">Timings : {{clinician.timings}}.</p>
                
              </div>
            </div>
          </div><br>
          <div class="row">
            <!-- edit and delete goes here-->
            <div class="col-6"> <button style='font-size:24px' (click)="onEditClick()"><i class='far fa-edit'></i></button></div>
            <div class="col-6">
              <button class ="float-right" style='font-size:24px ' (click)="onDeleteClinician()"><i class="fa fa-trash"></i></button>
              
            </div>
           
            
          </div>
        </div>
      </div>
          <br>
        
  
     

