
<div class="container">
    <div class="row">
        <div class="col-2">
         
        </div>
        <div class="col-8 bg-light" >
          <!--Clinician Details Form logic stats-->
            <p class="text-left"><strong>New Patient Enrollment</strong></p><hr>
            <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                  <div class="container">
                      <div class="row">
                          <div class="col">
                            <div  *ngIf ="hasBeenSubmitted" class="alert alert-success" role="alert">
                                Form has been submitted!!!
                              </div>
                              <div  *ngIf ="hasError" class="alert alert-warning" role="alert">
                                SomeThing Went Wrong!!!
                              </div>

                            <div class="form-group">



                                <label class="control-label" for="patient_id">Patient ID
                                    <span class="required">*</span>
                                </label>
                                <input placeholder=" 6 digit number UnModifiable" type="text" id="patient_id"  formControlName="patient_id" required="required" class="form-control">
                                <!-- <div class ="form-group" *ngIf="!signupForm.get('full_name').valid && signupForm.get('full_name').touched">
                                    Name is required.
                                  </div>  -->
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="name">Full Name
                                    <span class="required">*</span>
                                </label>
                                <input type="text" id="name"  formControlName="full_name" required="required" class="form-control">
                                <!-- <div class ="form-group" *ngIf="!signupForm.get('full_name').valid && signupForm.get('full_name').touched">
                                    Name is required.
                                  </div>  -->
                            </div>
                             
                            <!--Gender dropdown-->
                            <div class="form-group"><br><br>
                                <label class="control-label" for="gender">Gender
                                </label>
                                <select id="gender" formControlName="gender" class="form-control" style="width: 35%" >
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                            
                    
                            <div class="form-group">
                                <label class="control-label" for="age">Age
                                </label>
                                <input type="number" id="age"  formControlName="age" required="required" class="form-control">
                            </div>
                    
                    
                            <div class="form-group">
                                <label class="control-label" for="phone">Phone <span class="required">*</span>
                                </label>
                                <input type="number" id="phone"  formControlName="phone_number" required="required" class="form-control">
                                <!-- <div class ="form-group" *ngIf="!signupForm.get('phone_number').valid && signupForm.get('phone_number').touched">
                                    PhoneNumber is required.
                                  </div>  -->
                            </div>
                    
                            <div class="form-group">
                                <label class="control-label" for="occupation">Occupation 
                                </label>
                                <input type="text" id="occupation"  formControlName="occupation"  class="form-control">
                                <!-- <div class ="help-block" *ngIf="!signupForm.get('specialization').valid && signupForm.get('specialization').touched">
                                    specialization is required.
                                  </div>  -->
                            </div>
                    
                            <div class="form-group"><br><br>
                                <label class="control-label" for="clinician">Clinician
                                </label>
                                <select id="clinician" formControlName="clinician" class="form-control" style="width: 35%" >
                                    <option [value]="option" *ngFor="let option of options">{{option}}</option>
                                </select>
                            </div>
                    
                            <div class="form-group">
                                <label class="control-label" for="address">Address
                                    <span class="required">*</span>
                                </label>
                                <input type="text" id="address"  formControlName="address" required="required" class="form-control">
                                <!-- <div class ="form-group" *ngIf="!signupForm.get('address').valid && signupForm.get('address').touched">
                                    address is required.
                                  </div> -->
                            </div>
                            
                           
                          </div>
                      </div>
                                 
        <div class="row"><br><br><br><br></div>
  
  <div class="row">
    <div class="col">
        <div class="form-group ">
        <div class="  control-label text-center">
            <button type="submit" class="btn btn-success" [disabled]="!signupForm.valid" >
               Submit
            </button>
        </div></div></div>
  <div class="col">
    <div class="form-group ">
        <div class=" control-label text-center">
            <button type="button" class="btn btn-success  "  (click)="onFormReset()">
              Cancel
            </button></div>
        </div>
        </div>
    
    </div>   
  
      
    </div>
        </form>
  <!--Patient Details Form logic ends-->
  
              </div>
        </div>
        <div class="col-2">
         
        </div>
      </div>
  
  
  